:root {
  --color-bg: #f0eef6;
  --color-white: #fff;
  --color-pink: #b93160;
  --color-secondary: #d4396f;
  --color-gray: #98a4b3;
  --color-dark: #1a273b;
  --color-black: #151b27;
  --color-light: #cccfe0;
  --card-border-radius: 1rem;
  --btn-padding: 0.5rem 2rem;
  --card-padding: 1rem;

  --transition: all 0.3s ease-in-out;
  --box-shadow: 0 1rem 2rem var(--color-light);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
}
body {
  max-width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-bg);
  overflow-x: hidden;
}
a {
  display: block;

  transition: var(--transition);
}
img {
  display: inline-block;
  width: 100%;
  object-fit: cover;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 2160px;
}
.btn {
  padding: var(--btn-padding);
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
  text-transform: uppercase;
}

.btn-pink {
  color: var(--color-pink);
  border: 2px solid var(--color-pink);
}
.btn-black {
  color: var(--color-black);
  border: 2px solid var(--color-black);
}

.btn-pink:hover {
  color: var(--color-white);
  background-color: var(--color-pink);
}
.btn-black:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
/*=======NAV starts======*/
nav {
  display: grid;
  place-items: center;
  background-color: var(--color-dark);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand h2 {
  font-size: 1.53rem;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: bold;
  position: relative;
}

.brand span {
  color: var(--color-pink);
}
.brand h5 {
  font-size: 1rem;
  font-weight: 100;
  color: var(--color-light);
}
.nav-items {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
}
.nav-items li a {
  color: #fff;
  font-weight: 500;
}
.nav-items li a:hover {
  color: var(--color-pink);
}
.nav-items .active {
  color: var(--color-secondary);
}
.sale-ribbon {
  margin-top: 4.9rem;
  background-color: var(--color-secondary);
  width: 100%;
  height: 2rem;
  text-align: center;
  display: grid;
  place-items: center;
}
.sale-ribbon p {
  font-size: 1rem;
  color: var(--color-black);
  font-weight: 600;
  text-transform: uppercase;
}
.sale-ribbon p span {
  color: var(--color-white);
  font-size: 0.8rem;
}
/*=====Hero section=======*/
header {
  width: 100vw;
  height: 90vh;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.hero-container {
  margin-top: 6rem;
  text-transform: uppercase;
  position: relative;
  color: var(--color-white);
}
.hero-container h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: #820111;
}
.hero-container h1 {
  font-size: 4rem;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}
.hero-container h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: -0.2rem;
  background-color: #820111;
}
.hero-container h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.hero-container p {
  width: 30%;
  text-align: justify;
  font-size: 0.8rem;
  margin-bottom: 3rem;
  line-height: 1.8;
}
.subcription {
  background-color: var(--color-pink);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--card-padding);
  height: 12rem;
  border-radius: var(--card-border-radius);
  color: var(--color-white);
  margin-top: 8rem;
}
.subscriber h3,
.follower h3,
.like h3 {
  font-size: 2rem;
  font-weight: 600;
}
.subscriber h4,
.follower h4,
.like h4 {
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 0.2rem;
}

.collect-container {
  margin-top: 8rem;
}
.collect-container h2 {
  font-size: 2.5rem;
}

.collections {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.collections .highlight {
  color: var(--color-pink);
  text-transform: uppercase;
  font-weight: 600;
}
.collections ul a {
  color: var(--color-gray);
}

/*=====about===== */
.about-container {
  margin-top: 10rem;
}

.about {
  position: relative;
}

.left-image {
  background-image: url(../images/pexels-bestbe-models-2301288.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50rem;
  height: 42rem;
  transform: translateX(-20rem);
  position: absolute;
  top: 5rem;
  border-radius: 0 1rem 1rem 0;
}

.right-image {
  background-image: url(../images/contact_image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 55rem;
  height: 30rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(9rem);
  border-radius: 1.5rem 0 0 1.5rem;
}
.right .bottom {
  position: relative;
  top: 33rem;
  margin-left: 22rem;
  margin-top: 1rem;
  left: 18rem;
}
.right .bottom h2 {
  font-size: 2.5rem;
}
.right .bottom p {
  width: 25rem;
  text-align: justify;
  margin: 1rem 0;
  line-height: 1.4;
}

/*=====items======*/
.items-container {
  margin-top: 43rem;
}
.items-container h2 {
  font-size: 2.5rem;
}
.items-container .items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;

  gap: 3rem;
}

.item {
  background-color: var(--color-white);
  padding: var(--card-padding);
  width: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: var(--box-shadow);
  margin-top: 4rem;
}
.item .image-container {
  width: 12rem;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}
.item .info-container h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.item .info-container p {
  font-size: 0.7rem;
  text-align: justify;
  margin: 0.5rem 0;
  line-height: 1.3;
  color: var(--color-gray);
}

/*=====contact image======*/
.contact-container {
  position: relative;
}
.contact {
  position: relative;
}
.contact-right-image {
  background-image: url(../images/about_image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 44rem;
  height: 40rem;
  transform: translateX(9rem);
  position: absolute;
  top: 18rem;
  right: 0;
  border-radius: 1rem 0rem 0rem 1rem;
}
.contact-left-image {
  background-image: url(../images/about_image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 51rem;
  height: 30rem;
  transform: translateX(-10rem);
  position: relative;
  top: 12rem;
  border-radius: 0 1rem 1rem 0;
}
.contact-left .contact-bottom {
  position: relative;
  top: 13rem;
  margin-left: 22rem;
  margin-top: 1rem;
  left: -22rem;
}
.contact-left .contact-bottom h2 {
  font-size: 2.5rem;
}
.contact-left .contact-bottom p {
  width: 25rem;
  text-align: justify;
  margin: 1rem 0;
  line-height: 1.4;
}
